<%= stylesheet_link_tag "webdevelopment" %>
<% content_for(:title, "MK Web development") %>

<div class="post">
	<div class="post_title" style="font-size:2.5em;">MY FIRST POST TITLE TEXT</div>
	<div class="post_date">Date<br />20.06.2014</div>
	<br />
	<div class="short_desc">This is my text short description, it's my first short description so be full of empathy, because apparently I need a lot of it my simple, one cocked friend.</div>
</div>

<div class="post">
	<div class="post_title"></div>
	<div class="post_date"></div>
	<br />
	<div class="short_desc"></div>
</div>

<div class="post">
	<div class="post_title"></div>
	<div class="post_date"></div>
	<br />
	<div class="short_desc"></div>
</div>
