.database_post {
  border: 1px solid black;
  width: 90%;
  margin-bottom: 5px;
  border-collapse: collapse;
  margin: auto;
}
.id {
  //display: table-cell;
  border: 1px solid black;
  padding: 0;
  margin: auto;
  width: 15%;
}
.name {
  //display: table-cell;
  border: 1px solid black;
}
.body {
  //display: table-cell;
  border: 1px solid black;
}
.date {
  
}

.short {
  
}
