.books {
	background-color: #166ACE;
}

.font {
  font-family:'Lato'; 
  font-weight:300; 
  font-size: 1.2em;
}

// WHOLE PRODUCT DIV
.whole-div {
  width: 90%;
  //border: 1px solid black;
  margin:auto;
  padding: 3%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 50px 50px 50px 50px / 50px 50px 50px 50px;
}
.div-name {
  
}
.div-picture {
  float:right;
  margin-right: 5px;
  //margin-top: -20px;
}
.clear-fix:after {
  content: ".";  
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.enc {
  font-size: 1.4em;
  font-weight: 400;
}

// END OF WHOLE PRODUCT DIV

/* // WHOLE PRODUCT TABLE 
.product-table {
  width: 90%;
  border-collapse: collapse;
  border: 1px solid black;
  margin: auto;
}
.name {
  border: 1px solid black;
  height: 20%;
}
.short-desc {
  height: initial;
  border: 1px solid black;
  height: 80%;
}
.picture {
  border: 1px solid black;
  width: 30%
}

.affiliate {
  border: 1px solid black;
}
// END OF WHOLE PRODUCT TABLE */