.contact {
	background-color: #166ACE;
}
.font {
  font-family:'Lato'; 
  font-weight:300; 
  font-size: 1.2em;
  margin-left: 5%;
}
.divs {
  margin-bottom: 1%;
}
.contact_form {
  resize: none;
}
.contact_submit {
  width: 379px;
  height: 30px;
}
