// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu { // czarne menu
	background-color: black;
	width: 99vw;
	height: 16vh;
	margin-left: -8px;
	margin-top: -10px;
	position: initial;
}
#logo { // Moje logo Matthew Kilan
	font-family: 'Lobster';
	letter-spacing: 2px;
	position: relative;
	left: 20px;
	top: 35px;
	color: #fff;
	float:left;
	font-size: 150%;
	line-height: 0.3;
}
/*#short_text { // Krotki opis przedstawiajacy moja osobe, ten obok loga
	font-family: 'Lobster';
	font-size: 110%;
	letter-spacing: 1px;
	color: #fff;
	position: relative;
	left: 60px;
	top: 15px;
	float:left;
}*/

#font_opis { // krotki tekst opisujacy mnie, ten pod logo
	font-family: 'Lobster';
	font-size: 0.6em;
	margin-left: 10px;
}

.menu_text { // cale menu tekstowe strony
	color: #fff;
	position: relative;
	top: 30px;
	left: 40px;
	float:left;
	margin-left: 40px;
	font-weight: bold;
	text-align: center;
}
.web,
.motivation,
.projects,
.books,
.contact { // parametry menu zwiazane z przejsciem
	font-family: 'Cabin Condensed';
	letter-spacing: 1px;
	height: 7vh;
	width: 13vw;
	line-height: 44px;
	transition: background-color, .5s;
	border-radius: 5% 5% 5% 5% / 15% 15% 15% 15%;
	
}
.motivation,
.projects,
.contact { // parametry menu
	width: 9vw;
}
.projects { // parametry menu
	line-height: 22px;
}

.menu_text a:link,
.menu_text a:visited,
.menu_text a:hover,
.menu_text a:active { // formatowanie linkow menu tekstowego
	text-decoration: none;
	color: white;
}
.web:hover,
.motivation:hover,
.projects:hover,
.books:hover,
.contact:hover { // przejscie , wyswietlenie prostokata przy najechaniu na dane slowo
	border-radius: 5% 5% 5% 5% / 15% 15% 15% 15%;
	background-color: #166ACE;
	transition: background-color, .5s;
}
#column_horizontal {
	background-color: #F9F7FA;
	height: 5vh;
}
#column_left { //lewa kolumna
	margin-left: -10px;
	width: 16vw;
	height: 300vh;
	background-color: #F9F7FA;
	float:left;
}
#column_right { //prawa kolumna
	margin-right: -8px;
	width: 16vw;
	height: 300vh;
	background-color: #F9F7FA;
	float:right;
}
