.main_page_container {
  font-family:'Lato'; 
  font-weight:300; 
  font-size: 1.4em;
}
.new-color {
  color: #790A0A;
}
li {
  color:#790A0A;
}
.margin-auto {
  margin: auto;
  width: 90%;
}
.border {
  border-top: 2px solid #790A0A;
  border-bottom: 2px solid #790A0A;
}
textarea {
  resize: none;
  width: 50%;
  height: 40vh;
}
.submit-button {
  width: 51%;
  height: 5vh;
}
.textfield {
  width: 50%;
}
