.projects {
	background-color: #166ACE;
}
.font {
  font-family:'Lato'; 
  font-weight:300; 
  font-size: 1.2em;
}
.main-div {
  background-color: initial;
  //border: 1px solid black;
  width: 85%;
  margin: auto;
}
li {
  margin-top: -20px;
}