<h1>Add new comment</h1>

<% if @main.parent %>
	<%= render "main", main: @main.parent, from_reply_form: true %>
<% end %>

<%= render :partial => "form" %>

<br />
<br />

<%= link_to "Click to go back", learn_webdeb_path, style: "text-decoration: none;" %>

<%= button_to "przycisk", learn_webdeb_path %>
